target/
*.class
*.jar
*.log
nohup.out
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.git/
.gitignore
superfolder/
pgdata/
DB/
HashPassword.java
HashPassword.class
*.md
docker-compose*.yml
Dockerfile
