### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### properties ###
# src/main/resources/application.properties

### Database ###
database.sql

### Compiled classes / artefactos sueltos ###
target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
*.pid
heapdump.*.hprof
