<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/drive.css}">
</head>

<body>

<div class="main-content">

    <h2>Crear Carpeta</h2>

    <form th:action="@{/crear-carpeta}" method="post">

        <input type="text" name="nombre" placeholder="Nombre de la carpeta" required>

        <input type="hidden" name="folderDestino" value="">

        <button type="submit">Crear Carpeta</button>

    </form>

</div>

</body>
</html>