<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div class="container">

    <h2>Registro</h2>

    <div th:if="${mensajeExito}" class="success">
        Cuenta creada exitosamente.
    </div>

    <div th:if="${errorDuplicado}" class="error">
        Correo ya registrado.
        <a th:href="@{/olvide-contrasena}">Olvidé mi contraseña</a>
    </div>

    <form th:action="@{/registro}" th:object="${usuario}" method="post">

        <label>Nombre</label>
        <input type="text" th:field="*{username}" placeholder="Nombre completo"/>
        <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

        <label>Correo</label>
        <input type="email" th:field="*{correo}" placeholder="tu@correo.com"/>
        <p class="error" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></p>

        <label>Contraseña</label>
        <input type="password" th:field="*{clave}" placeholder="Mínimo 8 caracteres"/>
        <p class="error" th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}"></p>

        <label>Rol</label>
        <input type="text" th:field="*{rol}" placeholder="Ej: admin o user"/>
        <p class="error" th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></p>

        <button type="submit">Registrarse</button>
    </form>

    <div class="link">
        <a th:href="@{/login}">¿Ya tienes cuenta? Inicia sesión</a>
    </div>

</div>

</body>
</html>